<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Eventos - Portfólio</title>
</head>
<body class="bg-gray-100">
    <header class="bg-blue-700 text-white p-6 text-center">
        <h1 class="text-3xl font-bold">Bem vido a Evento+</h1>
        <p class="mt-2">Organizando momentos inesquecíveis para você!</p>
        <div class="my-3">
            <a class="text-lg hover:underline mx-2" href="http://localhost:3000">Home</a>
            <a class="text-lg hover:underline mx-2" href="http://localhost:3000/servicos">Serviços</a>
            <a class="text-lg hover:underline mx-2" href="http://localhost:3000/contatos">Contato</a>
            <a class="text-lg hover:underline mx-2" href="http://localhost:3000/portfolio">Portfólio</a>
        </div>
    </header>
    <section class="container min-h-[80vh] mx-auto mt-8 p-6 text-center">
        <h2 class="text-3xl font-semibold mb-9">Nosso Portfólio</h2>
        <div class="my-4 grid grid-cols md:grid-cols-2 gap-6">
            <div class="flex flex-col gap-6">
                <img src="img/festa.jpg" class="w-full h-50 rounded-lg object-cover" alt="">
                <img src="img/show.jpg" class="w-full h-50 rounded-lg object-cover" alt="">
                <img src="img/corporativo.jpg" class="w-full h-50 rounded-lg object-cover" alt="">
            </div>
            <div>
                <p class="text-2xl">Transformar momentos em memórias inesquecíveis é a essência do nosso trabalho. Atuamos com paixão, criatividade e atenção aos mínimos detalhes na organização de festas que encantam, surpreendem e ficam na lembrança de todos os convidados.

Desde aniversários infantis até celebrações sofisticadas, cuidamos de cada etapa do processo: conceito, decoração, buffet, entretenimento, cerimonial, logística e muito mais. Criamos projetos personalizados que refletem o estilo e os desejos de cada cliente, sempre com foco na excelência e no bom gosto.

Acreditamos que cada festa tem sua própria história, e nosso compromisso é contá-la da forma mais bonita possível. Para isso, contamos com uma rede de parceiros experientes e fornecedores de confiança, garantindo qualidade, pontualidade e uma execução impecável do início ao fim.

Nosso portfólio reúne eventos marcantes, cheios de personalidade e emoção — seja para celebrar uma nova fase, uma conquista ou simplesmente a alegria de estar junto. Deixe seu evento nas mãos de quem entende que cada detalhe faz toda a diferença.</p>
                <p class="font-semibold text-2xl">Vamos planejar juntos sua próxima festa inesquecível?</p>
            </div>
        </div>
    </section>
    <footer class="bg-blue-700 text-white text-center p-4 mt-8">
        <p>&copy; 2025 Eventos+. Todos os direitos reservados.</p>
    </footer>
</body>
</html>